---
layout: default
permalink: /about/
---
<section class="main" style="background-image: linear-gradient(81deg, rgba(117, 255, 192, 0.9) 15%, rgba(125, 224, 230, 0.7) 100%), url('/assets/images/about.jpg');">
  {% include navbar.html %}
  <div class="main-row">
    <div class="container">
      <div class="main-column ">
        <h1>Hi! It's me Amaia</h1>
        <h2>Let me introduce myself</h2>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <div class="about-row">
      <div class="about-column">
        <p>
          Big fan of irony and absurd humor. I am an explorer in my own city and when I can in other ones. I always get lost, but I don’t really care. For that reason instead of buying a map I decided to bring my camera.
        </p>
      </div>
      <div class="about-column">
        <p>
          I play ukelele, sing and dance the moonwalk as Michael Jackson used to. I also enjoy imitating accents. Apart from that I am passionate about <a target="_blank" href="http://www.spri.eus/es/up-euskadi?n=10968">entrepreneurship and innovation</a>.
          <i class="em em-v"></i>
          <i class="em em-v"></i>
          <i class="em em-v"></i>
        </p>
      </div>
    </div>

    <section class="grid">
      <div class="grid-item grid-item__big">
        <div class="grid-item-content">
        </div>
      </div>
      <div class="grid-item grid-item__small">
        <div class="grid-item-content">
        </div>
      </div>
      <div class="grid-item grid-item__small">
        <div class="grid-item-content">
        </div>
      </div>
    </section>

    <header>
      <h2>Do what you love and do it often</h2>
    </header>
    <div class="about-row">
      <div class="about-column">
        <header>
          <h3>
          <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
          Proud of...
        </h3>
        </header>
        <ul>
          <li>Building a <a target="_blank" href="/projects/steps-junior-coop">company</a> with my cool 14 team mates 2011-2015 (17-21years).</li>
          <li>Living and traveling though Finland, Holland, San Francisco, China and India developing projects. </li>
          <li>Creating guerrilla marketing actions and <a target="_blank" href="/projects/koxk">gastronomic experiences</a> in Gastrokulturala.</li>
          <li>Trying to change the way we learn by organizing different workshops, events and <a target="_blank" href="/projects/noanean-experience">learning journeys</a>.</li>
          <li>Re-inventing the way we travel with <a href="http://www.mapsforexplorers.com/">Maps For Explorers</a>.</li>
          <li>Volunteering with the Missionaries of Charity (Calcutta)</li>
        </ul>
      </div>
      <div class="about-column">
        <header>
          <h3>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
          Lover of…
        </h3>
        </header>
        <ul>
          <li>Brands and business models that challenge the status quo.</li>
          <li>Products and services human-centered design.</li>
          <li>Unorthodox ideas.</li>
          <li>Coherence in the message and team alignment.</li>
        </ul>
      </div>
    </div>
    <div class="about-row">
      <div class="about-column">
        <header>
          <h3>
          <i class="fa fa-globe" aria-hidden="true"></i>
          Thinking about…
        </h3>
        </header>
        <ul>
          <li>Improving all the interactions points a product and a service has with the user.</li>
          <li>Giving value to customers not just features.</li>
          <li>Humanizing technology.</li>
        </ul>
      </div>
      <div class="about-column">
        <header>
          <h3>
          <i class="fa fa-flag-o" aria-hidden="true"></i>
          Inspired by… (always updating)
        </h3>
        </header>
        <ul>
          <li>The medici effect: breakthrough insights at the intersection of ideas, concepts, and cultures (Frans Johansson)</li>
          <li><a target="_blank" href="http://es.slideshare.net/giribiri/starting-with-why-simon-sinek">Start With</a>: Inspire everyone to take action Why (Simon Sinek)</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<hr/>
{% include what.html %}
