---
layout: default
---

<section class="main" style="background-image: linear-gradient(81deg, rgba(117, 255, 192, 0.9) 15%, rgba(125, 224, 230, 0.7) 100%), url('/assets/images/background.jpg');">
  {% include navbar.html %}
  <div class="main-row">
    <div class="container">
      <div class="main-column ">
        <h1>Hello! I’m Amaia</h1>
        <h2>Product marketing &amp; design thinker</h2>
        <a href="mailto:amaia.giralt@gmail.com" class="button">Let’s talk</a>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <header class="services-header">
          <h2>
            I lend you a hand with your ideas
          </h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p>
          I want to support people who has an entrepreneurial mindset and share how I overcome different challenges and which learnings I got in the journey. I love marketing, strategy and everything related with human centered design.
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p>
          As I am constantly learning new things I will also share my new discoveries. Feel free to give me feedback. <i class="em em-wink"></i>
        </p>
        <p class="strong">
          <div class="dot red"><span><span></span></span>
          </div> <strong>Currently learning:</strong> <span class="red-strong">GROWTH HACKING</span>
        </p>
      </div>
    </div>
  </div>
</section>
<hr/> {% include working-on.html %}
<hr/> {% include what.html %}
<hr/>
<section class="section">
  <div class="container">
    {% include newsletter.html %}
  </div>
</section>
