<section id="instafeed"></section>
<section class="contact">
  <div class="container">
    <div class="contact-column">
      <p>
        If you want to collaborate on creating amazing experiences for people you are very welcome to contact me.
      </p>
    </div>
    <div class="contact-column">
      <ul class="social">
        <li class="social-item">
          <a target="_blank" href="https://twitter.com/amaigi">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a target="_blank" href="https://es.linkedin.com/in/amaiagiralt">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a target="_blank" href="https://www.instagram.com/amaigi/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li class="social-item">
          <a target="_blank" href="mailto:amaia.giralt@gmail.com">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <p>&#xA9; <span class="js-year"></span> Amaia Giralt • By <a target="_blank" href="http://albertogallego.me/">Alberto Gallego</a></p>
  </div>
</footer>
<script>
  document.querySelector('.js-year').textContent = new Date().getUTCFullYear();
</script>

{% include instafeed.html %}
