<div class="newsletter-container">
  <div class="newsletter" id="mc_embed_signup">
    <form action="//amaiagiralt.us16.list-manage.com/subscribe/post?u=9655c3ea82b9e32167cd4ce04&amp;id=c717904068" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <div class="newsletter-wrapper" id="mc_embed_signup_scroll">
        <header class="newsletter-header">
          <h2 class="newsletter-title">Join my list</h2>
          <p class="newsletter-description">
            I want to share with you tools, ideas, experiments and some reflection.   <span class="newsletter-disclaimer">
                I promise no spam <i class="em em-metal"></i>
              </span>
          </p>
        </header>
        <div class="newsletter-fields">
          <div class="newsletter-field">
            <label for="mce-EMAIL" class="newsletter-label">
              Your email  <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="newsletter-input" id="mce-EMAIL" required>
          </div>
          <div class="newsletter-field">
            <label for="mce-FNAME" class="newsletter-label">Your name </label>
            <input type="text" value="" name="FNAME" class="newsletter-input" id="mce-FNAME">
          </div>
          <div class="newsletter-field">
              <input type="submit" value="I'm in!" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9655c3ea82b9e32167cd4ce04_c717904068" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
</div>
