<section class="section what">
  <div class="container">
    <header class="what-header text-center">
      <h2>How can I help you?</h2>
    </header>
    <div class="row">
      <div class="col-md-4">
        <div class="what-content">
          <img class="what-picture" src="/assets/images/what/idea.png" alt="idea" />
          <h4>Idea conceptualization</h4>
          <p>
            You have a project idea in your mind and you don’t know how to start? Let’s make it tangible! Sounds good? <i class="em em-grinning"></i>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="what-content">
          <img class="what-picture" src="/assets/images/what/growth.png" alt="Growth" />
          <h4>Grow your business</h4>
          <p>
            As you may know I am learning Growth hacking and there is just one way to learn: always by doing. I will help you acquiring customers, engaging them and growing your incomes. It’s FREE! <i class="em em-gem"></i>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="what-content">
          <img class="what-picture" src="/assets/images/what/design-thinking.png" alt="Design Thinking" />
          <h4>Develop new business lines</h4>
          <p>
            Let’s face those internal challenges you have in your project and company with innovation. We will define a process to get to your goals (internal communication, launch new products/services etc).
          </p>
        </div>
      </div>
    </div>
    <div class="what-button text-center">
      <a href="mailto:amaia.giralt@gmail.com" class="button">Write me</a>
    </div>
  </div>
</section>
