<section class="section working-on">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="dot red"><span><span></span></span>
        </div>
        <label class="working-on-label">Working on</label>
        <h2>Maps For Explorers</h2>
        <p class="working-on-description">
          We're building the community where you discover new routes and share yours with other explorers, just like you are.
        </p>
        <a target="_blank" href="https://mapsforexplorers.com/" class="button">Go to the project</a>
      </div>
      <div class="col-md-4">
        <div class="working-on-picture">
          <img src="/assets/images/projects_logos/maps-for-explorers.png" alt="MapsForExplorers">
        </div>

      </div>
    </div>
  </div>
</section>
